{% extends "base.html" %}
{% load i18n %}

{% block content %}
  {% block navbar %}
   <nav class="navbar navbar-light bg-light">
     <form method="get" action="{% url "vacancies:search" %}"
          class="form-inline">
       <div class="d-inline-flex flex-row">
        <input name="search" class="form-control mr-sm-2 p-2" type="search" placeholder="{% translate "Search" %}" aria-label="{% translate "Search" %}">
        <div class="dropdown p-2">
          <button class="btn btn-secondary dropdown-toggle" type="button" id="dropdownMenuLink" data-bs-toggle="dropdown">
            {% translate "Filters" %}
          </button>

          <ul class="dropdown-menu" aria-labelledby="dropdownMenuLink">
            <li class="dropdown-item me-5"><input type="checkbox" name="checkbox1"/>Python</li>
            {% for job in jobs %}
              <li class="dropdown-item me-5"><input type="checkbox" name="{{ job.id }}"/>{{ job.title }}</li>
            {% endfor %}
          </ul>
        </div>
        <button class="btn btn-outline-success my-2 my-sm-0 p-2" type="submit">{% translate "Search" %}</button>
       </div>
      </form>
    <div>
      {% if request.user.is_employer %}
      {% if request.user.has_no_company %}
        <button class="btn btn-outline-success" disabled>{% translate "Create vacancy" %}</button>
      {% else %}
        <a href="{% url "vacancies:vacancy-create" %}"
           class="btn btn-outline-success" 
           type="button">{% translate "Create vacancy" %}</a>
      {% endif %}
      {% endif %}

      {% if request.user.is_applicant %}
      <a href="{% url "vacancies:cv-create" %}" 
         class="btn btn-outline-success" type="button">{% translate "Create CV" %}</a>
      {% endif %}
    </div>
  </nav> 
  {% endblock navbar %}

  {% if request.user.has_no_company and request.user.is_employer %}
    <div class="jumbotron">
      <h1 class="display-4">{% translate "Register" %}</h1>
      <p class="lead">{% translate "Your company in our service to start publish vacancies" %}</p>
      <hr class="my-4">
      <p>{% translate "You can manage your companies in your" %} 
        <a href="{% url "vacancies:employer" %}">{% translate "personal cabinet" %}</a>
      <p class="lead">
      <a class="btn btn-primary btn-lg" href="{% url "vacancies:company-register" %}" role="button">Register company</a>
      </p>
    </div>

  {% endif %}

  {% if request.user.has_no_cv and request.user.is_applicant %}
    <div class="jumbotron">
      <h1 class="display-4">{% translate "Create your CV" %}</h1>
      <p class="lead">{% translate "in our service to start replying to vacancies!" %}</p>
      <hr class="my-4">
      <p>{% translate "You can manage your CV's in your" %} 
        <a href="{% url "vacancies:applicant" %}">{% translate "personal cabinet" %}</a>
      <p class="lead">
      <a class="btn btn-primary btn-lg" href="{% url "vacancies:cv-create" %}" role="button">Create a CV</a>
      </p>
    </div>

  {% endif %}


  {% for vacancy in page_obj %}
    {% include "vacancies/partials/cards/vacancy.html" %}
  {% endfor %}
{% endblock content %}
